#about {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../assets/images/billy-cox-unsplash.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#about-text {
  padding: 75px;
  text-align: center;
}

#about-header {
    font-size: 44px;
    color: white;
    padding-top: 75px;
    /* font-weight: bold; */
}

 #about-p {
    padding: 25px 75px 25px 75px;
    font-size: 22px;
    color: white;
    margin: 0px !important;
}

/* Extra small devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {

  #about-text {
    padding: 10px;
    text-align: center;
  }

}