#home-splash h2 {
  position: absolute;
  top: 60%;
  right: 60%;
  transform: translate(50%, 50%);
  font-size: 50px;
  color: white;
  padding-left: 50px;
  font-weight: normal;
}

#home-splash video {
  height: 100%;
  width: 100%;
}

#services-we-provide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#services-header h3 {
  font-size: 40px;
  color: rgb(75, 212, 137);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border: 2px solid;
  border-radius: 10px;
  /* margin: 0 !important; */
  padding: 20px !important;
}

#service-cards {
  display: flex;
  justify-content: center;
}

#service-cards .card {
  text-align: center;
  margin: 25px;
  padding: 0px 30px 30px 30px;
  color: rgb(75, 212, 137);
  font-size: 30px;
}

.service-icon {
  font-size: 60px;
}

#learn-more-btn {
  background-color: rgb(75, 212, 137);
  border: none;
  border-radius: 5px;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}

#learn-more-btn a {
    text-decoration: none !important;
    color: white;
}

#learn-more-btn:hover {
  background-color: rgb(53, 138, 91);
  transition: 0.5s ease;
  cursor: pointer;
}

  /* Extra small devices */
  @media only screen and (min-width: 320px) and (max-width: 479px) {

    #services-header h3 {
      font-size: 30px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    #service-cards {
      flex-direction: column;
      align-items: center;
    }
  }

  /* Portrait tablets and large phones*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
 
  #service-cards .card {
    margin: 10px;
  }

}

/* Landscape tablets */
@media only screen and (min-width: 769px) and (max-width: 900px) {
  /* * {
    overflow: scroll;
  } */
}

  