#footer {
    background-color: rgb(75, 212, 137);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px;
}

#footer-logo img {
    height: 15%;
    width: 15%;
}

#footer-nav {
    display: flex;
    flex-direction: column;
    width: 400px;
}


#footer-nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0px;
}

#footer-nav a:hover {
    color: rgb(230, 227, 227);
    transition: 0.3s ease;
}

  /* Extra small devices */
  @media only screen and (min-width: 320px) and (max-width: 479px) {

    #footer-nav a {
        font-size: 15px;
    }

    #footer-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap !important;
        
    }
   
    #footer-logo img {
        height: 50%;
        width: 50%;
    }

  }