#footer {
    background-color: rgb(75, 212, 137);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-logo img {
    height: 15%;
    width: 15%;
    padding: 25px;
}

#footer-nav {
    /* padding-right: 50px; */
    width: 30%;
    display: flex;
    flex-direction: row;
}

#footer-nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#footer-nav a:hover {
    color: rgb(230, 227, 227);
    transition: 0.3s ease;
}