
#nav-bar {
    width: 100%;
    background-color: rgb(75, 212, 137);
    z-index: 9999;
    /* text-decoration: none !important; */
}

#nav-bar-container {
    display: flex;
    align-items: center;
    
}

#nav-logo {
    width: 35%;
}

#nav-logo img{
    padding: 25px;
    height: 75%;
    width: 75%;
}

#top-nav  {
    display: flex;
    padding: 30px;
    width: 100%;
}

#top-nav a {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#top-nav  a:hover {
    color: rgb(230, 227, 227);
    transition: 0.2s ease;
}