
#nav-bar {
    width: 100%;
    background-color: rgb(75, 212, 137);
    z-index: 9999;
    display: flex;
    align-items: center;

    /* text-decoration: none !important; */
}

/* #nav-bar-container {
    display: flex;
    align-items: center;
    
} */

#nav-logo {
    width: 75%;
}

#nav-logo img{
    padding: 25px;
    height: 40%;
    width: 40%;
}

#top-nav {
    display: flex;
    padding: 30px;
    width: 100%;
}

.nav a {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav a:hover {
    color: rgb(230, 227, 227);
    transition: 0.2s ease;
}