
#nav-bar {
    width: 100%;
    background-color: rgb(75, 212, 137);
    z-index: 9999;
    /* text-decoration: none !important; */
}

#nav-bar-container {
    display: flex;
    align-items: center;
    
}

#nav-logo {
    width: 35%;
}

#nav-logo img{
    padding: 25px;
    height: 75%;
    width: 75%;
}

.nav {
    display: flex;
    padding: 30px;
    width: 100%;
}

.nav a {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}